body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Settings {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 10px;
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.SettingsOverlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.SettingsContent {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
}

.SettingsButton {
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.SettingsButton.hidden {
    display: none;
}

.SettingsButton:hover {
    transform: rotate(30deg);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}